@media screen and (max-width:600px) {
    .hg {
        grid-template-areas: "header"
        "navigation"
        "main"
        "ads"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px
    50px
    1fr
    50px
    30px;
}
}
