* { 
    padding: 0;
    margin: 0;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

p { 
    background-color: lightcyan;
    }

main { 
    padding-top: 1rem;
    padding-left: 1rem;
    color:black;
    }

ul { 
    padding-left: 2rem; 
        }
ol { 
    padding-left: 2rem; 
        }


.like { 
    color:green;
}

li { 
    color:crimson;
}

.thunder { 
   color:purple
}

h3 { 
   font-style: italic;
}

img [src="https://drive.google.com/file/d/1g9G5sg4oqcQ_vwstvbM3j6BNBSHe182b/view?usp=sharing"] { 
    border-radius: 1rem;
}
